@font-face {
  font-family: 'main';
  src: url('../font/Schoolbell-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
html,
body {
  height: 100%;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
    font-family: 'main';
    font-weight: 700;
    font-style: normal;
}
a {
    text-decoration: none;
    color: black;
}
.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.header {
    height: 70px;
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    font-size: 20px;
}
.header-desgn {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 140%;
  z-index: -1;
}
.discord {
  position: relative;
  color: white;
}
.footer {
  height: 150px;
  width: 100%;
  align-items: center;
  display: flex;
  padding: 0 100px;
    position: relative;
    overflow: hidden;
}
footer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    z-index: -1;
}
.footer-desgn {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    z-index: -1;
    transform: rotate(180deg);
}
.footer-banners {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.socials-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.social-footer {
  width: 200px;
  height: 80px;
  background-image: url('../img/socials-footer.png');
  background-size: contain;
  background-position: center;
  background-clip: border-box;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.social-footer img {
  width: 50px;
  height: 50px;
}
.joinus {
  max-width: 250px;
}
.wizard{
  max-height: 99%;
}
.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.socials img {
  max-width: 50px;
  max-height: 500px;
}
.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
}
.logo-head {
  max-width: 50px;
  max-height: 50px;
}
.logo-wrap a{
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  left: 0;
  top: 0;
  height: 100%;
  align-items: center;
}
.discord {
  left: 0;
  top: 0;
  height: 80px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-image: url('../img/discord-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  overflow: hidden;
}
.discord a {
  width: 100%;
  text-wrap: nowrap;
  text-align: center;
}
.discord:hover, .discord a button:hover{
  cursor: pointer;
}
.meme-link {
  display: block;
  width: 100%;
  height: 100%;
  overflow: visible;
  position: relative;
  border: 20px solid transparent;
  border-image: url('../img/meme-frame-3.png') 71 69 72 72 stretch stretch; 
}
.meme-link video, .meme-link img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  position: relative;
  z-index: 0;
}
.meme-grid {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 600px;
}
.meme-block {
  position: relative;
  height: 100%;
  width: 550px;
  display: block;
}
.post-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}
.profile-head {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 0;
}
.profile-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}
.description {
  white-space: pre-wrap;
  margin: 0;
  font-size: 1em;
}
.description-wrapper {
  position: relative;
}
.description {
  max-height: 4em;
  overflow: hidden;
  white-space: pre-wrap;
  margin: 0;
  transition: max-height 0.3s ease;
  font-style: normal;
}
.description-main:not(.expanded)::after {
  content: '';
  position: absolute;
  top: 2em;
  left: 0;
  width: 100%;
  height: 2em;
  background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  pointer-events: none;
}
.description.expanded {
  max-height: none;
}
.show-more {
  color: rgb(144, 144, 144);
  border: none;
  cursor: pointer;
  margin-top: 5px;
}
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: relative;
}
.logo {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo::after {
  content: '';
  position: absolute;
  align-self: center;
  justify-self: center;
  width: 60px;
  height: 60px;
  background-image: url('../img/avatar-frame.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  border-radius: 50%;
  pointer-events: none;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  z-index: 0;
}
.name {
  font-size: 1.2rem;
  font-weight: 700;
}
.id {
  color: gray;
  font-size: 0.8rem;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-image: url('../img/pill.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 6px;
}
.wide-low {
  max-height: 150px;
  max-width: 300px;
}

.square, .square-video {
  max-height: 100%;
  max-width: 500px;
}
#loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#loader video {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  border-radius: 10px;
}

.loaded #loader {
  opacity: 0;
  visibility: hidden;
}

body.loaded {
  transition: none;
}

.mim-detail-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

.mim-info-mp4, .mim-info-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mim-info-mp4.vertical-video, .mim-info-img.vertical-image {
  max-width: 1000px;
  height: auto;
  object-fit: contain;
}

.mim-info-mp4.horizontal-video, .mim-info-img.horizontal-image {
  max-width: 1400px;
  height: auto;
  object-fit: contain;
}

.mim-info-mp4.square-video, .mim-info-img.square {
  max-width: 1200px;
  height: auto;
  object-fit: contain;
}

.mim-info-img.wide-low {
  max-width: 1200px;
  height: auto;
  object-fit: contain;
} */
.mp4, .img {
  object-fit: contain;
}
.meme-info {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.main.mim-info {
  display: block;
}
.mim_info {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  background-color: transparent;
}
.social{
  width: 30px;
  height: 30px;
}
.like-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.like-btn:hover {
  cursor: pointer;
}
.share-btn:hover {
  cursor: pointer;
}
.social-btn {
  transition: 0.4s ease;
}
.social-btn:hover {
  transition: 0.2s ease;
  transform: scale(1.1);
}
.social-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}
.social-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 15px;
  justify-content: start;
}
.social-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 15px;
  justify-content: end;
}
.comment-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
