
.nav-upload {
    justify-content: center;
    gap: 20%;
}
.upload-upl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.upload-field {
    margin-bottom: 15px;
    position: relative;
    justify-content: center;
    display: flex;
}
.upload-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
input[type="file"] {
    display: none;
}
.description-field {
    margin-bottom: 15px;
}
.description-field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    resize: none;
    font-size: 14px;
    line-height: 1.5;
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
}
.preview-container {
    height: 300px;
    max-width: 100%;
    margin-top: 10%;
    margin-bottom: 15px;
}

.preview-container img,
.preview-container video {
    max-width: 100%;
    max-height: 300px;
    border-radius: 4px;
    object-fit: contain;
}
.submit-button {
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
/* ------------------------- */
.upload-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 50px;
}
.footer {
    margin-top: 100px;
}
.gallery-grid {
    display: flex;
    align-items: center;
    width: 900px;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
}
.gallery-item {
    width: 280px;
    height: 280px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.gallery-src {
    width: 100%;
    min-height: 260px;
}
.gallery-src a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.meme-info-stats {
    display: flex;
    gap: 20%;
    width: 100%;
    font-size: 16px;
}

.meme-info-stats .like-stats,
.meme-info-stats .comment-stats {
    display: flex;
    align-items: center;
    gap: 5px;
}
.user-gallery {
    width: 900px;
    height: 100%;
}
.gallery-image, .gallery-video {
    max-width: 100%;
    max-height: 275px !important;
}
.upload-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.drop-zone {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.drop-zone-default {
    max-height: 500px;
    position: relative;
}
.drop-zone-icon {
    width: 100px;
    height: 100px;
}
.form-desc {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.description-field textarea {
    height: 100px !important;
    resize: none;
}
.submit-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit-button {
    width: 100px;
    height: 50px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}
.submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
/* ----- */
.upload-link {
    width: 130px;
    height: auto;
    position: relative;
}
.text {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40%;
}
.text-1 {
    color: #afafaf;
    font-size: 55px;
    font-weight: 800;
}
.text-2 {
    color: #afafaf;
    font-size: 55px;
    font-weight: 800;
}
.user-profile {
    width: 100%;
    padding: 0 10%;
}
.profile-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
}
.username {
    font-size: 20px;
}
.meme-count {
    font-size: 18px;
}