{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="keywords" content="MIM, MIMeme, BitcoinWizards, bitcoinwizardy">
    {% endblock %}

    <title>{% block title %}MIMeme{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
    <link rel="stylesheet" href="{% static 'css/comments.css' %}">
    <link rel="stylesheet" href="{% static 'css/adaptive.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <!--  -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../static/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../../../static/img/favicon/site.webmanifest">
</head>
<body>
    <div id="loader">
        <video autoplay loop muted playsinline>
            <source src="{% static 'mp4/loader.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    {% block content %}
    <div class="page">
        <div class="loader"></div>
        <header class="header">
            <img src="{% static 'img/header.png' %}" alt="" class="header-desgn">
            <nav class="nav">
                <div class="logo-wrap">
                    <a href="{% url 'mim:memes' %}">
                        <img src="{% static 'img/like3.png' %}" alt="" class="logo-head">
                        <p>MIMeme</p>
                    </a>
                </div>
                <div class="tabs-brg">
                    <div class="tabs">
                        <p><a href="{% url 'mim:upload_meme' %}" style="font-weight: bold; color: black;">Upload</a></p>
                        <p><a href="{% url 'mim:memes' %}" style="font-weight: bold; color: #707070;">New</a></p>
                        <p><a href="{% url 'mim:top_memes' %}" style="color: #707070;">Top of All Time</a></p>
                        <p><a href="{% url 'mim:trending' %}" style="color: #707070;">Trending</a></p>
                    </div>
                </div>
                <div class="discord">
                    {% if not user.is_authenticated %}
                        <a href="{% url 'social:begin' 'discord' %}"><button style="color: white;">Connect Discord</button></a>
                    {% else %}
                        <p><a href="{% url 'logout' %}" style="color: white; font-weight: 700;">Logout</a></p>
                    {% endif %}
                </div>
                <div class="burger-menu">
                    <span></span>
                </div>
            </nav>
        </header>
    </div>
    {% endblock %}

    <script>
        window.addEventListener('load', function() {
            setTimeout(function() {
                document.body.classList.remove('loaded');
                document.getElementById('loader').style.display = 'none';
            }, 250);
        });
    </script>
    <script>
        "use strict"

        const nav__links = document.querySelector('.tabs-brg');
        const body = document.querySelector('body')

        if (nav__links) {
            const menu = document.querySelector('.burger-menu');
            menu.addEventListener("click", function(e) {
                body.classList.toggle('_lock')
                menu.classList.toggle('_active');
                nav__links.classList.toggle('_active');
            })
        }
    </script>
</body>
</html>