{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MIMeme{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <!--  -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../static/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../static/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../static/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../../../static/img/favicon/site.webmanifest">
</head>
<body>
    <div id="loader">
        <video autoplay loop muted playsinline>
            <source src="{% static 'mp4/loader.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    {% block content %}
    {% endblock %}

    <script>
        window.addEventListener('load', function() {
            setTimeout(function() {
                document.body.classList.remove('loaded');
                document.getElementById('loader').style.display = 'none';
            }, 250);
        });
    </script>
</body>
</html>